<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lianfeng.mapper.ExampleTableMapper">

    <resultMap id="BaseResultMap" type="com.lianfeng.model.entity.ExampleTable">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="dbField" column="db_field" jdbcType="VARCHAR"/>
            <result property="dbType" column="db_type" jdbcType="VARCHAR"/>
            <result property="dbNull" column="db_null" jdbcType="VARCHAR"/>
            <result property="dbKey" column="db_key" jdbcType="VARCHAR"/>
            <result property="dbDefault" column="db_default" jdbcType="VARCHAR"/>
            <result property="dbExtra" column="db_extra" jdbcType="VARCHAR"/>
            <result property="remarks" column="remarks" jdbcType="VARCHAR"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,db_field,db_type,
        db_null,db_key,db_default,
        db_extra,remarks,is_deleted,
        created_at,updated_at
    </sql>
</mapper>
